workflows/blueprints/message-buffer/redis-buffer.json
{
  "name": "Video Tutorial Redis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot11",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -912,
        -80
      ],
      "id": "7f4dc6a8-567a-4933-a0cc-eb8c53ee3c6f",
      "name": "Webhook",
      "webhookId": "e47f6ab6-afac-4a93-8dc5-a8b9b7b004a0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b658ea20-5c01-4fc6-b07b-b96a6c19ba07",
              "name": "body.conversation.messages[0].content",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "ff51b197-185b-4314-a5f8-7cee90a15612",
              "name": "body.conversation.messages[0].account_id",
              "value": "={{ $json.body.conversation.messages[0].account_id }}",
              "type": "number"
            },
            {
              "id": "8a49ab63-408d-43af-887f-9d32a54834ab",
              "name": "body.conversation.messages[0].conversation_id",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "number"
            },
            {
              "id": "9998ff2e-e5b8-44ff-beb9-82f5f4b04aa5",
              "name": "body.conversation.messages[0].sender.phone_number",
              "value": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "57f9f802-7768-4fb4-821c-c023fd731ae8",
              "name": "body.conversation.messages[0].created_at",
              "value": "={{ $json.body.conversation.timestamp.toDateTime('s').toLocal().toISO() }}",
              "type": "string"
            },
            {
              "id": "b345428a-9599-4c9e-8880-0719c1be11c5",
              "name": "body.conversation.messages[0].sender.name",
              "value": "={{ $json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "963a32a6-ccba-4a48-a85d-cdcd13b72286",
              "name": "body.conversation.messages[0].sender.identifier",
              "value": "={{ $json.body.conversation.messages[0].sender.identifier }}",
              "type": "string"
            },
            {
              "id": "338e604c-bae1-40ed-b636-c1101678c052",
              "name": "body.conversation.messages[0].source_id",
              "value": "={{ $('Webhook').item.json.body.conversation.messages[0].source_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -112
      ],
      "id": "64e4be16-499e-4414-9515-80adaec4977d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5fffdf0-0d46-4d74-a633-90193e741b29",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message_created",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -80
      ],
      "id": "93ab95fc-c866-477b-b387-0387a3acba36",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c9a628f-3054-4b91-9bdd-2966d8bc921c",
              "leftValue": "={{ $json.body.conversation.messages[0].sender_type }}",
              "rightValue": "Contact",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -96
      ],
      "id": "9b3509c4-2f95-4c33-b9a4-e78831a30978",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields').item.json.body.conversation.messages[0].sender.identifier }}_buffer",
        "messageData": "={{ JSON.stringify($('Edit Fields').item.json.body.conversation.messages[0]) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        16,
        -112
      ],
      "id": "79ab4f84-28ef-4384-9758-c4203f2bee39",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "zHyKyefkHg4tHjIR",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields').item.json.body.conversation.messages[0].sender.identifier }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        224,
        -112
      ],
      "id": "7aaedfee-979e-4fc4-b40b-3fc15a096458",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "zHyKyefkHg4tHjIR",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.first()).source_id }}",
                    "rightValue": "={{ $('Edit Fields').item.json.body.conversation.messages[0].source_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "232870fe-40d2-4d7d-8029-162f6ffeca1c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No hacer nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "70afb62a-8092-41fe-9f1a-913ca0c2a80c",
                    "leftValue": "={{ JSON.parse($json.message.last()).created_at }}",
                    "rightValue": "={{ $now.minus(10, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        -128
      ],
      "id": "212814fc-98fa-4448-acd6-9143123616fb",
      "name": "Switch"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        544,
        80
      ],
      "id": "a0804c13-4cf6-4684-ad58-cb385ed95c2e",
      "name": "Wait",
      "webhookId": "76dc8ed2-b3f5-48af-b180-3c9cd68197ea"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        576,
        -352
      ],
      "id": "1090b619-1122-4d1a-8fbe-4409dac85570",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.body.conversation.messages[0].sender.identifier }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        608,
        -112
      ],
      "id": "5098a8f8-c65e-4765-b2de-963c5e8e8527",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "zHyKyefkHg4tHjIR",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        816,
        -112
      ],
      "id": "9aa7a6a1-4e2d-475c-98c8-687e06a3bd16",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1b34845-68f7-41a0-bf3d-a5d19dd99bb9",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "27d43323-58f2-4361-9e5e-8ec2fb5e18a5",
              "name": "timestamp",
              "value": "={{ $json.created_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -112
      ],
      "id": "8825c661-4145-49b0-9318-98002bd12b62",
      "name": "Texto"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.message) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -112
      ],
      "id": "967e2bfd-6f4b-4c5c-88b8-c506d14faec4",
      "name": "JSON Parse",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1440,
        -112
      ],
      "id": "9eca5e36-e5cb-4733-89ec-c01d8452f3c6",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1648,
        -112
      ],
      "id": "7ea31654-0303-4251-9895-1f79acd0608e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6326b067-1d98-49ca-afae-e5bf5c65c0ad",
              "name": "chat_input",
              "value": "={{ $json.messages.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        -112
      ],
      "id": "fae1d83f-77d7-4fa9-850c-0da5b0a3cae6",
      "name": "Chat Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=user_content: {{ $json.chat_input }}\nuser_number: {{ $('Edit Fields').item.json.body.conversation.messages[0].sender.phone_number }}\nuser_name: {{ $('Edit Fields').item.json.body.conversation.messages[0].sender.name }}",
        "options": {
          "systemMessage": "=# Rol\nEres un asistente de la empresa IAbyIA, especializada en desarrollar soluciones con Inteligencia Artificial, para automatizar la atención al cliente de negocios y empresas grandes.\n\n# Identidad\nTono profesional, genera cercanía con client, predispuesto a resolver cualquier consultar relacionada con el negocio.\n\n# Tarea\nResolver cualquier duda o inconveniente que el usuario pueda tener, a la hora de consultar por diferentes servicios. Debe ser breve, no más de 100 caracteres por respuesta.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2144,
        -112
      ],
      "id": "5c094b98-3ba8-4857-b736-b6b991e9703e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        96
      ],
      "id": "121a11f9-386a-48a9-8304-a4a96e34b6a5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "LvLMQXrAcIeQa1Qm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=/api/v1/accounts/{{ $('Edit Fields').item.json.body.conversation.messages[0].account_id }}/conversations/{{ $('Edit Fields').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2496,
        -112
      ],
      "id": "3dcb21f4-b9e6-49be-99e9-6173ddfad4aa",
      "name": "Enviar1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yoKk6kHeJPffzlEK",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.body.conversation.messages[0].sender.phone_number }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2256,
        96
      ],
      "id": "3dec7729-98ae-4087-82d0-b68071cc5c2b",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "main": [
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Input": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Enviar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25111474-c569-401a-b9e8-3c684247919e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c51ad1839a2b94fe998720cbb12ec31aeaf911935a64ba3a674a34c8e1fe57cb"
  },
  "id": "fZKypftqE3C3vMVN",
  "tags": []
}