workflows/blueprints/reservas/modificar-reservas.json
{
  "name": "Modificar Reservas Cabañas",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"FechaNuevaInicio\": \"2025-10-10T14:00:00-03:00\",\n  \"FechaNuevaFinal\": \"2025-10-15T10:00:00-03:00\",\n  \"Telefono\":\"5491160390755\"\n}"
      },
      "id": "234588d0-e1e2-42e9-9c18-559b2510f084",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Fecha Inicio Actual: {{ $json.FechaInicio }}\nFecha Fin Actual: {{ $json.FechaFin }}\nFecha Nueva Inicio: {{ $json.FechaNuevaInicio }}\nFecha Nueva Final: {{ $json.FechaNuevaFinal }}\nCorreo Electrónico: {{ $json.Correo }}",
        "options": {
          "systemMessage": "=# Rol  \nEres un agente virtual especializado en la gestión y modificación de reservas. Tienes experiencia en validar, reprogramar y eliminar reservas de manera eficiente, asegurando que los cambios cumplan con los requisitos establecidos.  \n\n# Tarea  \nTu tarea es modificar reservas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:    \n\n1. Buscar id reserva actual con \"buscar_id\".\n\n2. Si no hay disponibilidad, ofrecer horarios alternativos mediante la herramienta \"ofrecer_horarios_nueva_fecha\".  \n\n3. Crear la nueva reserva: Si las nuevas fechas son válidas, proceder a agendar la nueva reserva con la herramienta \"crear_reserva_nueva\".\n\n4. Eliminar la reserva actual: Una vez creada la nueva reserva, eliminar la reserva original usando la herramienta \"eliminar_reserva_actual\".\n\n5. Una vez hayas ejecutado todo lo anterior correctamente, utiliza \"RegistrarReunion\" para modificar la fecha de la reunión con la nueva.\n\n\n#Formato respuesta:\n{\n\t\"respuesta\": \"La modificación de su reserva se ha realizado exitosamente para el:\" \n**\"añade el enlace de la nueva reserva\"**\n\n}\n\n# Detalles Específicos  \n- Si en algún punto del proceso una validación falla, informar al usuario con una respuesta clara y específica sobre el motivo del rechazo.  \n- Utilizar las herramientas en el orden establecido para garantizar la correcta modificación de la reserva.  \n- En caso de que las fechas actuales no existan o no correspondan al usuario, informar que la reserva no pudo ser encontrada.   \n- Confirmar al usuario cada paso exitoso, asegurando claridad en el proceso.  \n\n# Notas  \n- **La fecha de hoy es {{ $now }}**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        0
      ],
      "id": "35a70ea3-143c-4a81-be14-699576047601",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        176
      ],
      "id": "37bde97c-a66b-4bd4-bfe4-c1d063d75838",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rTSt6FnagO3Pruoq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "limit": 1,
        "timeMin": "={{ $json.FechaInicio }}",
        "timeMax": "={{ $json.FechaFin }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        656,
        176
      ],
      "id": "93e18a71-b60f-42f4-9564-5092628e6481",
      "name": "buscar_id",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "timeMin": "={{ $json.FechaNuevaInicio }}",
        "timeMax": "={{ $json.FechaNuevaFinal }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        656,
        320
      ],
      "id": "13bf8618-36be-46a0-9148-00355c1ad259",
      "name": "comprobar_disponibilidad_nueva_fecha",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "name": "ofrecer_horarios_nueva_fecha",
        "description": "Eres la herramienta encargada de ofrecer horarios alternativos de las fechas nuevas.",
        "workflowId": {
          "__rl": true,
          "value": "KamVtCxjBnnEqEvO",
          "mode": "list",
          "cachedResultUrl": "/workflow/KamVtCxjBnnEqEvO",
          "cachedResultName": "EntregarHorarios Cabañas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FechaInicio": "={{ $json.FechaNuevaInicio }}",
            "FechaFin": "={{ $json.FechaNuevaFinal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FechaInicio",
              "displayName": "FechaInicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "FechaFin",
              "displayName": "FechaFin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        496,
        176
      ],
      "id": "c14588f4-ae14-4f6c-839c-67598c147275",
      "name": "ofrecer_horarios_nueva_fecha"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Siempre crea FechaInicio/FechaFin desde FechaActual (14:00 / 10:00, -03:00)\n// Mantiene FechaNuevaInicio/Final si ya vienen.\n// Genera FechaNuevaRango humano.\n\nconst FIXED_OFFSET = \"-03:00\";\n\nconst monthMap = {\n  'enero':1,'febrero':2,'marzo':3,'abril':4,'mayo':5,'junio':6,\n  'julio':7,'agosto':8,'septiembre':9,'setiembre':9,'octubre':10,\n  'noviembre':11,'diciembre':12,\n  'ene':1,'feb':2,'mar':3,'abr':4,'may':5,'jun':6,\n  'jul':7,'ago':8,'sep':9,'oct':10,'nov':11,'dic':12,\n};\nconst MONTHS_ES = ['', 'enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\n\nconst norm = (s='') => s.toString().trim().toLowerCase().normalize('NFD').replace(/\\p{Diacritic}/gu,'');\nconst pad2 = n => String(n).padStart(2,'0');\nconst toISOFixed = (y,m,d,hh,mm,ss,offset) => `${y}-${pad2(m)}-${pad2(d)}T${pad2(hh)}:${pad2(mm)}:${pad2(ss)}${offset}`;\n\nfunction parseRangoDesdeTexto(textoRaw) {\n  const t = norm(textoRaw ?? '');\n  const now = new Date();\n  const yM = t.match(/(20\\d{2}|19\\d{2})/);\n  const year = yM ? parseInt(yM[1],10) : now.getFullYear();\n  const mKey = Object.keys(monthMap).find(k => t.includes(k));\n  const month = mKey ? monthMap[mKey] : null;\n  let r = t.match(/(?:\\bdel?\\s*)?(\\d{1,2})\\s*(?:al|-|a)\\s*(\\d{1,2})\\b/);\n  let s = null;\n  if (!r) s = t.match(/\\b(\\d{1,2})\\b/);\n  if (!month || (!r && !s)) return null;\n  let d1, d2;\n  if (r) { d1 = parseInt(r[1],10); d2 = parseInt(r[2],10); }\n  else   { d1 = parseInt(s[1],10);  d2 = d1; }\n  if (d2 < d1) [d1,d2] = [d2,d1];\n  return { year, month, d1, d2 };\n}\n\nfunction parseISODateOnly(iso) {\n  if (!iso) return null;\n  const m = String(iso).match(/^(\\d{4})-(\\d{2})-(\\d{2})/);\n  if (!m) return null;\n  return { y:+m[1], m:+m[2], d:+m[3] };\n}\n\nfunction formatRangeEs(a, b) {\n  if (!a || !b) return null;\n  const sameDay = a.y===b.y && a.m===b.m && a.d===b.d;\n  const sameMonth = a.y===b.y && a.m===b.m;\n  const mesA = MONTHS_ES[a.m], mesB = MONTHS_ES[b.m];\n  if (sameDay) return `el ${a.d} de ${mesA}`;\n  if (sameMonth) return `del ${a.d} al ${b.d} de ${mesA}`;\n  if (a.y === b.y) return `del ${a.d} de ${mesA} al ${b.d} de ${mesB}`;\n  return `del ${a.d} de ${mesA} de ${a.y} al ${b.d} de ${mesB} de ${b.y}`;\n}\n\nfor (const item of $input.all()) {\n  // 1) Siempre parsea FechaActual -> FechaInicio/FechaFin\n  const textoActual = item.json.FechaActual ?? item.json.FechaReserva ?? item.json.FechaNueva ?? '';\n  const r = parseRangoDesdeTexto(textoActual);\n  if (r) {\n    item.json.FechaInicio = toISOFixed(r.year, r.month, r.d1, 14, 0, 0, FIXED_OFFSET);\n    item.json.FechaFin    = toISOFixed(r.year, r.month, r.d2, 10, 0, 0, FIXED_OFFSET);\n  } else {\n    // no se pudo parsear -> deja nulos si no estaban\n    if (item.json.FechaInicio === undefined) item.json.FechaInicio = null;\n    if (item.json.FechaFin === undefined)    item.json.FechaFin    = null;\n  }\n\n  // 2) Texto humano: prioriza las nuevas; si no hay, usa las actuales\n  const startRaw = (item.json.FechaNuevaInicio ?? item.json.FechaInicio) || null;\n  const endRaw   = (item.json.FechaNuevaFinal  ?? item.json.FechaFin)   || null;\n  const a = parseISODateOnly(startRaw);\n  const b = parseISODateOnly(endRaw);\n  const rangoHumano = formatRangeEs(a, b);\n\n  item.json.FechaNuevaRango       = rangoHumano;\n  item.json.FechaNuevaInicioHuman = rangoHumano;\n  item.json.FechaNuevaFinalHuman  = rangoHumano;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "31c8da15-d759-4afd-a925-b5b9e592bb61",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ENkRjmKsV7sIY8W6H17yBG_VGk5Z-6_lM8VBlEvTBiE",
          "mode": "list",
          "cachedResultName": "Preguntas Cabañas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENkRjmKsV7sIY8W6H17yBG_VGk5Z-6_lM8VBlEvTBiE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TJrQ_Aij1xTXTzfASKSosXb27vvts6fk7cb9WeOURRc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "¿En que fecha desea reservar la cabaña?": "={{ $json.FechaNuevaRango }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "¿Cual es su nombre?",
              "displayName": "¿Cual es su nombre?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "¿Cuantas personas desean hospedarse?",
              "displayName": "¿Cuantas personas desean hospedarse?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "¿Tiene hijos?",
              "displayName": "¿Tiene hijos?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "¿Me podrias detallar la edad de cada uno de los inquilinos?",
              "displayName": "¿Me podrias detallar la edad de cada uno de los inquilinos?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Presupuesto Estadía",
              "displayName": "Presupuesto Estadía",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "¿En que fecha desea reservar la cabaña?",
              "displayName": "¿En que fecha desea reservar la cabaña?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1008,
        176
      ],
      "id": "c73835e3-ec69-489f-bc75-0d0da2483784",
      "name": "RegistrarReunion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b964rKGM8sU1ozA6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ENkRjmKsV7sIY8W6H17yBG_VGk5Z-6_lM8VBlEvTBiE",
          "mode": "list",
          "cachedResultName": "Preguntas Cabañas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENkRjmKsV7sIY8W6H17yBG_VGk5Z-6_lM8VBlEvTBiE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENkRjmKsV7sIY8W6H17yBG_VGk5Z-6_lM8VBlEvTBiE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.Telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        0
      ],
      "id": "0971eddb-149c-4fd7-ab19-bbb4301c10a3",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b964rKGM8sU1ozA6",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42501728-ac70-4e28-88bb-ce566797c6e5",
              "name": "ID",
              "value": "={{ $json.ID }}",
              "type": "string"
            },
            {
              "id": "2d9e5695-28ee-4a6f-94d7-a5b1dc02100e",
              "name": "Nombre",
              "value": "={{ $('Get row(s) in sheet').item.json['¿Cual es su nombre?'] }}",
              "type": "string"
            },
            {
              "id": "b5309fbf-35ac-4dd0-b630-9d37b54da584",
              "name": "FechaActual",
              "value": "={{ $('Get row(s) in sheet').item.json['¿En que fecha desea reservar la cabaña?'] }}",
              "type": "string"
            },
            {
              "id": "9ccb54e6-2ad4-4c5e-aea5-5ba4fc2358b1",
              "name": "Correo",
              "value": "={{ $('Get row(s) in sheet').item.json.Correo }}",
              "type": "string"
            },
            {
              "id": "7ef7ab55-d37b-4886-a31a-0990ac6142d6",
              "name": "FechaNuevaInicio",
              "value": "={{ $('When Executed by Another Workflow').item.json.FechaNuevaInicio }}",
              "type": "string"
            },
            {
              "id": "7f434641-485a-4ab0-a475-4fb7667163ce",
              "name": "FechaNuevaFinal",
              "value": "={{ $('When Executed by Another Workflow').item.json.FechaNuevaFinal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ],
      "id": "f65392b6-8cfb-414d-9eba-9b44214667a1",
      "name": "Edit Fields",
      "executeOnce": false
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "start": "={{ $json.FechaNuevaInicio }}",
        "end": "={{ $json.FechaNuevaFinal }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.Correo }}"
          ],
          "summary": "=Reserva: {{ $json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        832,
        176
      ],
      "id": "78160495-23d5-4eeb-9d23-712ac9d836f3",
      "name": "crear_reserva_nueva",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Event id de la reserva actual.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        832,
        320
      ],
      "id": "534051c4-8690-4c6d-940e-a22832839db1",
      "name": "eliminar_reserva_actual",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "buscar_id": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "comprobar_disponibilidad_nueva_fecha": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ofrecer_horarios_nueva_fecha": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RegistrarReunion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_reserva_nueva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "eliminar_reserva_actual": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "735a8398-529a-4ddc-b553-2b348ba03333",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "013a9278bb362c6f6c3a1177a8fe84a3cd5500fbeb3238ca46513591bb2715aa"
  },
  "id": "cwkVj7v1OuG3SXA9",
  "tags": []
}