workflows/blueprints/calendar/entregar-horarios.json
{
  "name": "EntregarHorarios",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Fecha\": \"2025-07-10T11:00:00\"\n}"
      },
      "id": "11fd2414-0393-44dc-ae1d-9072667b2416",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -688,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "30356904-85fa-462b-b5e9-a31463966045",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "58e5651c-3e29-4744-a842-9be4f35fc56c",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención\nconst horaInicio = 8;\nconst horaFin = 18;\n\n// Excluir bloque de almuerzo: 12:00 a 13:59\nconst esAlmuerzo = (hora) => hora >= 12 && hora < 14;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  if (esAlmuerzo(hora)) continue;\n\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "bf26f694-9a56-4657-9003-0aaef9cb16e7",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d872215-e563-42b1-8f10-472b30a0232a",
              "leftValue": "={{ $json.diaSemana }}",
              "rightValue": "sabado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        128
      ],
      "id": "0327dcb3-e341-4abb-b748-911a0594a054",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        320
      ],
      "id": "f3a9e2bc-6a31-4ae1-aafd-6638fead02ff",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsCode": "const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        320
      ],
      "id": "af365382-3239-4dbd-85d9-f4692c375680",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención\nconst horaInicio = 8;\nconst horaFin = 18;\n\n// Excluir bloque de almuerzo: 12:00 a 13:59\nconst esAlmuerzo = (hora) => hora >= 12 && hora < 14;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  if (esAlmuerzo(hora)) continue;\n\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        320
      ],
      "id": "f4594e96-582d-4570-b624-3e236b0f4e1a",
      "name": "Code5"
    },
    {
      "parameters": {
        "jsCode": "const fechaTexto = $input.first().json.Fecha;\n\n// Crear objeto Date\nconst fecha = new Date(fechaTexto);\n\n// Obtener el día (0 = domingo, 1 = lunes, etc.)\nconst dias = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst diaSemana = dias[fecha.getDay()];\n\nreturn [\n  {\n    json: {\n      fecha: fechaTexto,\n      diaSemana\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        128
      ],
      "id": "f8812593-35c9-4f7c-bf21-9d9c37904478",
      "name": "diaSemana"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "limit": 15,
        "timeMin": "={{ $json.fechaInicio }}",
        "timeMax": "={{ $json.fechaFin }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        240,
        0
      ],
      "id": "ce3a3288-e357-422e-97a7-de5b9fa9a55e",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "limit": 15,
        "timeMin": "={{ $json.fechaInicio }}",
        "timeMax": "={{ $json.fechaFin }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        240,
        320
      ],
      "id": "87aa1be9-0623-45c4-81af-3831481ddf92",
      "name": "Get many events1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Fecha": "2025-10-22T15:00:00"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "diaSemana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Get many events1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diaSemana": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9815b078-82ae-4c6b-baa5-882cd43d6a9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "013a9278bb362c6f6c3a1177a8fe84a3cd5500fbeb3238ca46513591bb2715aa"
  },
  "id": "P30DiC6TUHlWJ7uv",
  "tags": []
}