workflows/blueprints/calendar/modificar-citas.json
{
  "name": "ModificarCitas",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Fecha actual\": \"2025-07-10T11:00:00\",\n  \"Fecha nueva\": \"2025-07-11T11:00:00\",\n  \"Nombre\": \"Diego Vasquez\",\n  \"Telefono\":\"+56954675214\",\n\"Correo\":\"nacho.arg200312@gmail.com\"\n}"
      },
      "id": "f919f294-cc1b-4a1e-af9f-11ea50560a41",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=fecha actual: {{ $json['Fecha actual original'] }}\nfecha nueva: {{ $json['Fecha nueva original'] }}\nCorreo Electrónico: {{ $('When Executed by Another Workflow').item.json.Correo }}",
        "options": {
          "systemMessage": "=# Rol  \nEres un agente virtual especializado en la gestión y modificación de citas. Tienes experiencia en validar, reprogramar y eliminar citas de manera eficiente, asegurando que los cambios cumplan con los requisitos establecidos.  \n\n# Tarea  \nTu tarea es modificar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1.Validar la nueva fecha: Asegurar que la nueva fecha solicitada está dentro del horario de atención permitido utilizando la herramienta \"comprobar_nueva_fecha\".  \n\n2.Buscar id cita actual con \"buscar_id\".\n\n3.Comprobar la disponibilidad de la nueva fecha: Usar la herramienta \"comprobar_disponibilidad_nuevafecha\". Si no hay disponibilidad, ofrecer horarios alternativos mediante la herramienta \"ofrecer_horarios_nueva_fecha\".  \n\n4.Crear la nueva cita: Si la nueva fecha es válida, proceder a agendar la nueva cita con la herramienta \"crear_cita_nueva\".\n\n\n5.Eliminar la cita actual: Una vez creada la nueva cita, eliminar la cita original usando la herramienta \"eliminar_cita_actual\".\n\n6. Una vez hayas ejecutado todo lo anterior correctamente, utiliza \"RegistrarReunion\" para modificar la fecha de la reunión con la nueva.\n\n\n#Formato respuesta:\n{\n\t\"respuesta\": \"La modificación de su cita se ha realizado exitosamente para el:\" \n**\"añade el enlace de la nueva reunión\"**\n\n}\n\n# Detalles Específicos  \n- Si en algún punto del proceso una validación falla, informar al usuario con una respuesta clara y específica sobre el motivo del rechazo.  \n- Utilizar las herramientas en el orden establecido para garantizar la correcta modificación de la cita.  \n- En caso de que la fecha actual no exista o no corresponda al usuario, informar que la cita no pudo ser encontrada.  \n- Si la nueva fecha está fuera del horario permitido, indicar los horarios disponibles.    \n- Confirmar al usuario cada paso exitoso, asegurando claridad en el proceso.  \n\n# Notas  \n- **La fecha de hoy es {{ $now }}**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        0
      ],
      "id": "20ddc0ce-8108-4d29-9fda-7a4d1803fedf",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        352
      ],
      "id": "ccb13eae-9bdd-40dc-8fa7-c50cc901402a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rTSt6FnagO3Pruoq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "comprobar_nueva_fecha",
        "description": "Comprueba si la nueva fecha de la cita corresponde a los horarios de atencion.",
        "workflowId": {
          "__rl": true,
          "value": "oAfhZ3XfQo8cpFJi",
          "mode": "list",
          "cachedResultName": "ComprobarFecha"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json['Fecha nueva original'] }}"
          },
          "matchingColumns": [
            "Fecha"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        480,
        384
      ],
      "id": "1fce2c65-89f9-48b4-9214-841b4d7ddc02",
      "name": "comprobar_nueva_fecha"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "limit": 1,
        "timeMin": "={{ $json['Fecha actual original'] }}",
        "timeMax": "={{ $json['Fecha actual +1h'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        624,
        432
      ],
      "id": "8dc97ca1-e063-4928-b1a4-77dbf2542e85",
      "name": "buscar_id",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "timeMin": "={{ $json['Fecha nueva original'] }}-03:00",
        "timeMax": "={{ $json['Fecha nueva +1h'] }}-03:00",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        768,
        432
      ],
      "id": "b8d3ef69-675b-48eb-9674-5499b1f51786",
      "name": "comprobar_disponibilidad_nueva_fecha",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "name": "ofrecer_horarios_nueva_fecha",
        "description": "Eres la herramienta encargada de ofrecer horarios alternativos de la fecha nueva.",
        "workflowId": {
          "__rl": true,
          "value": "P30DiC6TUHlWJ7uv",
          "mode": "list",
          "cachedResultUrl": "/workflow/P30DiC6TUHlWJ7uv",
          "cachedResultName": "EntregarHorarios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json['Fecha nueva original'] }}"
          },
          "matchingColumns": [
            "Fecha"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        944,
        432
      ],
      "id": "5467c102-6abe-4148-b325-e53818eeadb2",
      "name": "ofrecer_horarios_nueva_fecha"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "start": "={{ $json['Fecha nueva original'] }}",
        "end": "={{ $json['Fecha nueva +1h'] }}",
        "additionalFields": {
          "attendees": [
            "={{ $('When Executed by Another Workflow').item.json.Correo }}"
          ],
          "summary": "=Cita: {{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1104,
        384
      ],
      "id": "4de1641a-030d-4a8a-878d-3ff98d2400d2",
      "name": "crear_cita_nueva",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Event id de la cita actual`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1248,
        304
      ],
      "id": "f54799fa-a281-4643-a7d6-c2eea2366ba5",
      "name": "eliminar_cita_actual",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fechaActualTexto = $input.first().json['Fecha actual'];\nconst fechaNuevaTexto = $input.first().json['Fecha nueva'];\n\n// Función para sumar 1 hora y mantener formato YYYY-MM-DDTHH:mm:ss\nfunction sumarUnaHora(fechaTexto) {\n  const fecha = new Date(fechaTexto);\n  fecha.setHours(fecha.getHours() + 1);\n  return fecha.toISOString().substring(0, 19);\n}\n\nconst fechaActualMasUna = sumarUnaHora(fechaActualTexto);\nconst fechaNuevaMasUna = sumarUnaHora(fechaNuevaTexto);\n\nreturn [\n  {\n    json: {\n      \"Fecha actual original\": fechaActualTexto,\n      \"Fecha actual +1h\": fechaActualMasUna,\n      \"Fecha nueva original\": fechaNuevaTexto,\n      \"Fecha nueva +1h\": fechaNuevaMasUna\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "2a4844d8-b892-4016-95d3-8e1576840d49",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TJrQ_Aij1xTXTzfASKSosXb27vvts6fk7cb9WeOURRc",
          "mode": "list",
          "cachedResultName": "Leads Prueba Agente Imágenes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TJrQ_Aij1xTXTzfASKSosXb27vvts6fk7cb9WeOURRc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TJrQ_Aij1xTXTzfASKSosXb27vvts6fk7cb9WeOURRc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha Reunión": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_Reuni_n', `Fecha de la reunión nueva del usuario. Por ejemplo: 11/07/2025 14:00`, 'string') }}",
            "Correo Electrónico": "={{ $('When Executed by Another Workflow').item.json.Correo }}"
          },
          "matchingColumns": [
            "Correo Electrónico"
          ],
          "schema": [
            {
              "id": "Nombre Completo",
              "displayName": "Nombre Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Correo Electrónico",
              "displayName": "Correo Electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Reunión",
              "displayName": "Fecha Reunión",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1424,
        240
      ],
      "id": "04a18a29-da61-4d30-ab79-0f4a7bd1571e",
      "name": "RegistrarReunion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b964rKGM8sU1ozA6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "comprobar_nueva_fecha": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_id": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "comprobar_disponibilidad_nueva_fecha": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ofrecer_horarios_nueva_fecha": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear_cita_nueva": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "eliminar_cita_actual": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RegistrarReunion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1800d87c-d017-4c2b-bb4a-2080292e546a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "013a9278bb362c6f6c3a1177a8fe84a3cd5500fbeb3238ca46513591bb2715aa"
  },
  "id": "FKMIB5bkYmypjj7b",
  "tags": []
}