workflows/blueprints/calendar/reservar-citas.json
{
  "name": "ReservarCitas",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Fecha\": \"2025-07-09T15:30:00\",\n  \"Nombre\":\"Ignacio Arruvito\",\n  \"Telefono\":\"5491160390755\",\n\"Correo\":\"nacho.arg200312@gmail.com\"\n}"
      },
      "id": "b0ae434c-16b7-4773-8325-8f2d28beb64f",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        272
      ],
      "id": "6cff74c2-ba1c-42bd-8d8e-43b32d89f105",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "rTSt6FnagO3Pruoq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Fecha reserva:{{ $('When Executed by Another Workflow').item.json.Fecha }}\nNombre usuario: {{ $('When Executed by Another Workflow').item.json.Nombre }}\nNumero de telefono: {{ $('When Executed by Another Workflow').item.json.Telefono }}\nCorreo Electronico: {{ $('When Executed by Another Workflow').item.json.Correo }}",
        "options": {
          "systemMessage": "=## 1. DEFINICIÓN DE IDENTIDAD  \nEres un **asistente automatizado encargado de todo el procedimiento para reservar citas de atención al cliente**.\n\n## 2. HERRAMIENTAS DISPONIBLES  \n- `ComprobarDisponibilidad`: Confirma si hay disponibilidad en la fecha indicada.  \n- `EntregarHorarios`: Proporciona horarios alternativos si no hay disponibilidad.  \n- `CrearCita`: Crea la cita en el calendario.\n-\"RegistrarReunion\": registra la reunión y el correo del usuario en la base de datos utilizando el id correspondiente a cada usuario.\n\n\n## 3. OBJETIVO PRINCIPAL  \nEl agente tiene como propósito **verificar y gestionar automáticamente la reserva de citas de los clientes**, asegurando que las fechas sean válidas, haya disponibilidad y se complete todo el proceso de creación y registro de la cita.\n\n## 4. INSTRUCCIONES ESPECÍFICAS  \n\n1. Usar `ComprobarDisponibilidad`.  \n3. Si hay disponibilidad, continuar con:\n   - `CrearCita\"\n   \n4. Si no hay disponibilidad, usar `EntregarHorarios` para ofrecer alternativas al cliente.\n\n5. Utiliza el id del usuario para completar sus datos, NO debes crear una nueva fila, completa la que ya existe con los nuevos datos.\n\nFORMATO RESPUESTA:\n{\n  \"Respuesta\": \"Su cita ha sido reservada exitosamente para el {}. Aquí tienes los detalles de la reserva:\\n- Nombre: {{ $('When Executed by Another Workflow').item.json.Nombre }}\\n- Teléfono: {{ $('When Executed by Another Workflow').item.json.Telefono }}\\n- Fecha: {fecha en dd/MM/yyyy hh:mm}\\n- Link: {link de la cita}\n\"Respuesta 2\": \"No hay cita para la fecha solicitada, estos son las horas disponibles:\n}\n\nIMPORTANTE:\n- La fecha de hoy es {{ $now }}\n- Maneja las fechas en formato ISO sin zona horaria\n- Entrega las horas ordenadamente\n\n- No utilices asteriscos ni ningún formato de texto (como negritas o cursivas) en las respuestas. El texto debe presentarse de forma simple, sin símbolos especiales.\n\n- **Asegúrate de enviar el link correcto de la reunión, para que el usuario pueda entrar sin problemas.**\n\n- **Asegúrate de agregar la información restante del usuario en el lugar correspondiente, utilizando el id en la base de datos.**\n\n- **NUNCA crees otra fila con datos repetidos, utiliza el id para identificar donde ubicar los datos restantes a colocar.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        464,
        0
      ],
      "id": "2c259ae7-e9f6-4f0c-b9bf-b194bba351f5",
      "name": "Agente reservar",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const fechaOriginal = new Date($input.first().json.Fecha);\nfechaOriginal.setHours(fechaOriginal.getHours() + 1);\n\n// Formatear a 'YYYY-MM-DDTHH:mm:ss'\nconst fechaFormateada = fechaOriginal\n  .toISOString()\n  .substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaOriginal: $input.first().json.Fecha,\n      FechaMasUnaHora: fechaFormateada,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "9651a69d-1319-47bd-a044-6a0262a31a8b",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TJrQ_Aij1xTXTzfASKSosXb27vvts6fk7cb9WeOURRc",
          "mode": "list",
          "cachedResultName": "Leads Prueba Agente Imágenes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TJrQ_Aij1xTXTzfASKSosXb27vvts6fk7cb9WeOURRc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TJrQ_Aij1xTXTzfASKSosXb27vvts6fk7cb9WeOURRc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Correo Electrónico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo_Electr_nico', `Correo electrónico del usuario.`, 'string') }}",
            "Fecha Reunión": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_Reuni_n', `Fecha de la reunión del usuario. Por ejemplo: 11/07/2025 14:00`, 'string') }}",
            "Nombre Completo": "={{ $('When Executed by Another Workflow').item.json.Nombre }}"
          },
          "matchingColumns": [
            "Nombre Completo"
          ],
          "schema": [
            {
              "id": "Nombre Completo",
              "displayName": "Nombre Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Correo Electrónico",
              "displayName": "Correo Electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Reunión",
              "displayName": "Fecha Reunión",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1072,
        240
      ],
      "id": "3c8c06c2-038b-4fa1-9c59-bb9795937e9c",
      "name": "RegistrarReunion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b964rKGM8sU1ozA6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "EntregarHorarios",
        "description": "Eres la herramienta encargada de entregar horarios disponibles cuando no hay disponibilidad",
        "workflowId": {
          "__rl": true,
          "value": "P30DiC6TUHlWJ7uv",
          "mode": "list",
          "cachedResultUrl": "/workflow/P30DiC6TUHlWJ7uv",
          "cachedResultName": "EntregarHorarios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.FechaOriginal }}"
          },
          "matchingColumns": [
            "Fecha"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        704,
        304
      ],
      "id": "fadff8cf-009a-41c8-afa4-aa750a1fca10",
      "name": "EntregarHorarios"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "timeMin": "={{ $json.FechaOriginal }}-03:00",
        "timeMax": "={{ $json.FechaMasUnaHora }}-03:00",
        "options": {
          "outputFormat": "availability"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        304
      ],
      "id": "6d4e2b48-eb55-413a-8e01-e4cec283cac2",
      "name": "ComprobarDisponibilidad",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "start": "={{ $json.FechaOriginal }}",
        "end": "={{ $json.FechaMasUnaHora }}",
        "additionalFields": {
          "attendees": [
            "={{ $('When Executed by Another Workflow').item.json.Correo }}"
          ],
          "summary": "=Cita: {{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        880,
        304
      ],
      "id": "958ea04f-8660-436f-be0b-fdeb6c507889",
      "name": "CrearCita",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        272
      ],
      "id": "4cd29f75-831e-4c87-9874-1264e9195291",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "LvLMQXrAcIeQa1Qm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente reservar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Agente reservar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RegistrarReunion": {
      "ai_tool": [
        [
          {
            "node": "Agente reservar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EntregarHorarios": {
      "ai_tool": [
        [
          {
            "node": "Agente reservar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ComprobarDisponibilidad": {
      "ai_tool": [
        [
          {
            "node": "Agente reservar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CrearCita": {
      "ai_tool": [
        [
          {
            "node": "Agente reservar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "064b5913-7aa2-4b5c-b400-a2ce5045514f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "013a9278bb362c6f6c3a1177a8fe84a3cd5500fbeb3238ca46513591bb2715aa"
  },
  "id": "C9aFpEKoApVEyMqk",
  "tags": []
}