workflows/blueprints/voice/agente-voz-mcp.json
{
  "name": "Agente_voz_MCP copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ff2a5575-aadd-4b8a-8fec-6e8d197df1d0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1008,
        512
      ],
      "id": "d6887015-b8a3-413f-a583-004584ee9622",
      "name": "Webhook",
      "webhookId": "ff2a5575-aadd-4b8a-8fec-6e8d197df1d0"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": {{ JSON.stringify($json.output) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        480
      ],
      "id": "a06d7847-b3c4-4823-a0e8-4b49718ec123",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.servidorn8n.space/mcp/d1434ed6-2912-420f-84ee-2a2d00cfa917/sse",
        "include": "selected",
        "includeTools": [
          "Enviar_Mail"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        448,
        1056
      ],
      "id": "3c414bb0-a56d-49c5-80c6-94ce64c22819",
      "name": "MCP Gmail"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.servidorn8n.space/mcp/f027fe87-8248-414f-aa72-8b4ce56e4944/sse",
        "include": "selected",
        "includeTools": [
          "AddContactos"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        592,
        1056
      ],
      "id": "d74527ad-b4fd-4af6-b9eb-4730f9017327",
      "name": "MCP Base de Datos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f17e54fd-0c15-489c-9a21-7109c373c510",
              "name": "email",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.email }}",
              "type": "string"
            },
            {
              "id": "799d8092-106f-49c7-84bf-05b4fab04216",
              "name": "nombre",
              "value": "={{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.nombre }}",
              "type": "string"
            },
            {
              "id": "fb3503e0-c565-4062-8934-61901c74f5b0",
              "name": "apellidos",
              "value": "={{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.apellidos }}",
              "type": "string"
            },
            {
              "id": "d1733fdc-3404-470b-bbad-2a8c62d44826",
              "name": "telefono",
              "value": "={{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.telefono }}",
              "type": "string"
            },
            {
              "id": "745fe5dd-0bc7-4f1e-869a-83dac9ad2d4a",
              "name": "descripcion",
              "value": "={{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.descripcion }}",
              "type": "string"
            },
            {
              "id": "7ddc7567-dc6f-47b2-a3cb-e53f49e0aebf",
              "name": "fecha",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.fechaHora }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        688
      ],
      "id": "bae15193-97b8-4a8a-bbb7-351943f4fb44",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        1056
      ],
      "id": "adb6c80b-6e95-4471-aec5-6fca47681809",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rTSt6FnagO3Pruoq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utiliza esta herramienta para mejorar tus acciones añadiendo una capa más de razonamiento antes de ejecutar."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        880,
        1056
      ],
      "id": "e05a4e9e-6b04-4d31-86a4-d6ca207555bc",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6d585f0-8f71-465f-b334-50793be4607a",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        512
      ],
      "id": "e5011dc5-e201-415b-bb35-f48021c480e3",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e92ae065-eb07-4193-9c03-8475e049b9c0",
              "name": "transcripcion",
              "value": "={{ $json.body.message.artifact.transcript }}",
              "type": "string"
            },
            {
              "id": "242e2fca-a625-4850-b6ea-b52c053ca290",
              "name": "phone",
              "value": "1111111111",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        192
      ],
      "id": "f6ea9e05-8b4c-4432-93a4-a4b783d9542f",
      "name": "transcripcion"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transcripción de la conversación: {{ $json.transcripcion }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Tu objetivo principal consiste en determinar el sentimiento del usuario que habla con nosotros. Para ello, recibirás como entrada la transcripción de una conversación telefónica entre un usuario (user) con un asistente de voz de inteligencia artifical (AI) de una empresa que ofrece automatizaciones de inteligencia artificial.\n\nClasifica el sentimiento del usuario de la llamada con una nota del 1 al 10, donde 1 es un sentimiento muy malo y 10 un sentimiento muy bueno.\n\nSalida: nota"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        416,
        0
      ],
      "id": "b517510f-bf24-4547-872e-1fe4a0512acd",
      "name": "Sentimiento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e92ae065-eb07-4193-9c03-8475e049b9c0",
              "name": "sentimiento",
              "value": "={{ $json.data[0].text }}",
              "type": "string"
            },
            {
              "id": "320b02bd-217b-4151-aade-1434fb96e950",
              "name": "intencion",
              "value": "={{ $json.data[1].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        240
      ],
      "id": "bb616cec-46d7-41d9-aea2-25b465d40a3b",
      "name": "salida"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        816,
        240
      ],
      "id": "f22fc822-7c38-4a58-9f36-7e002f07bb19",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1008,
        240
      ],
      "id": "daf913a5-65b1-4b5b-a7ca-2e8561cb1292",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "685df75e-3d4a-4d28-9804-d09300d0bf13",
              "name": "output",
              "value": "Ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        240
      ],
      "id": "4b59b4da-56fd-4e0d-8989-ab8cc1c5e37a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1U8vHMILyUwemyYUPZfmI-U-tFhTDbopclK1xNlG24Og",
          "mode": "list",
          "cachedResultName": "LEADS AGENTE DE VOZ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U8vHMILyUwemyYUPZfmI-U-tFhTDbopclK1xNlG24Og/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U8vHMILyUwemyYUPZfmI-U-tFhTDbopclK1xNlG24Og/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SENTIMIENTO": "={{ $json.sentimiento }}",
            "INTENCIÓN": "={{ $json.intencion }}",
            "TELEFONO": "={{ $('transcripcion').item.json.phone }}"
          },
          "matchingColumns": [
            "TELEFONO"
          ],
          "schema": [
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "APELLIDO",
              "displayName": "APELLIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DESCRIPCION",
              "displayName": "DESCRIPCION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SENTIMIENTO",
              "displayName": "SENTIMIENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INTENCIÓN",
              "displayName": "INTENCIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1456,
        240
      ],
      "id": "7a8bacaf-c1e7-4b77-87c2-d2d33e28d54f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b964rKGM8sU1ozA6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        576
      ],
      "id": "e2e6f208-deac-4ede-b934-6d80ceee57dc",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "LvLMQXrAcIeQa1Qm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transcripción de la conversación: {{ $json.transcripcion }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Tu objetivo principal consiste en determinar la intención del usuario que habla con nosotros. Para ello, recibirás como entrada la transcripción de una conversación telefónica entre un usuario (user) con un asistente de voz de inteligencia artifical (AI) de una empresa que ofrece automatizaciones de inteligencia artificial. Deberás analizar toda la conversación, no sólo el principio o el final, y sacarás tus conclusiones finales teniendo en cuenta todo el contexto de la conversación sobre la intención del usuario.\n\nDetermina la intención del usuario de la siguiente forma:\n\"Compra\": el usuario tiene la intención de comprar un servicio, ya sea que lo demuestre al principio o al final de la conversación.\n\"Información\": el usuario desea obtener información de nuestro servicio, y ifinaliza la llamada sin comunicar explícitamente la intención de comprar o interés en contratar un servicio con nosotros.\n\"Sin interés\": el usuario termina la llamada sin intención de hacer nada con nosotros."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        400,
        352
      ],
      "id": "a126e6b8-d23c-4fdc-a50a-a6392ee1606d",
      "name": "Intención"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        176
      ],
      "id": "a4c25a88-067e-470e-bc8c-539b61f09dfd",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "LvLMQXrAcIeQa1Qm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        1056
      ],
      "id": "07032429-eccb-4ca8-b84c-b147d0bdd3db",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "LvLMQXrAcIeQa1Qm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        176
      ],
      "id": "5a8db508-dcaa-46ab-9d73-4452715e4b12",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "rTSt6FnagO3Pruoq",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        560
      ],
      "id": "73883f5e-5588-45c6-8ff6-86b34df2c93a",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "rTSt6FnagO3Pruoq",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu objetivo es realizar las siguientes acciones:\n\"MCP Base de datos\": utiliza esta herramienta para almacenar en google sheets la siguiente información:\n-nombre: {{ $json.nombre }}\n-apellidos: {{ $json.apellidos }}\n-telefono: {{ $json.telefono }}\n-email: {{ $json.email }}\n-descripcion: {{ $json.descripcion }}\n\"MCP Calendario\": utiliza esta herramienta para agendar una reunión con {{ $json.email }} en esta fecha y hora: {{ $json.fecha }}\n\"MCP Gmail\": utiliza esta herramienta para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# Rol\nEres una agente encargado de ejecutar las herramientas que tienes a tu disposición en el orden que te especifico a continuación.\n\n# Herramientas\n\n## \"MCP Base de datos\": utiliza esta herramienta para almacenar en google sheets la siguiente información:\n-nombre: {{ $json.nombre }}\n-apellidos: {{ $json.apellidos }}\n-telefono: {{ $json.telefono }}\n-email: {{ $json.email }}\n-descripcion: {{ $json.descripcion }}\n\n* Asegúrate de SÓLO enviar una vez todos los datos del usuario, no más.\n\n## \"MCP Calendario\": utiliza esta herramienta para agendar una reunión con {{ $json.email }} en esta fecha y hora: {{ $json.fecha }}\n\n## \"MCP Gmail\": utiliza esta herramienta para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.\n\n# Reglas\nSiempre tienes que seguir este orden:\n1. Utiliza la heramienta \"MCP Base de datos\" para almacenar la información: \n-nombre: {{ $json.nombre }}\n-apellidos: {{ $json.apellidos }}\n-telefono: {{ $json.telefono }}\n-email: {{ $json.email }}\n-descripcion: {{ $json.descripcion }}\n2. Utiliza la herramienta \"MCP Calendario\" para agendar una reunión con {{ $json.email }} en esta fecha y hora: {{ $json.fecha }}.\n3. Utiliza la herramienta \"MCP Gmail\" para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.\n\nSi alguna herramienta produce algún error, termina y en la respuesta devuelve FALSE.\n\n# Respuesta\n* Devuelve SIEMPRE \"TRUE\", SIEMPRE Y CUANDO, se hayan ejecutado correctamente las herramientas a disposición.\n* NUNCA devuelvas \"FALSE\" si todo se ejecutó correctamente.\n* ÚNICAMENTE devuelve \"FALSE\", si alguna herramienta falló.\n* Si hay algún error en alguna herramienta, devuelve \"FALSE\".\n* Si no hay errores, y ejecutas correctamente todas las herramientas en su respectivo orden, devuelve \"TRUE\".\n\n# Recordatorio\n- Fecha y Hora actual {{ $now.toISO() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        784
      ],
      "id": "f116a928-0fa0-49df-a075-c410eede8491",
      "name": "AGENTE"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        1040
      ],
      "id": "02623efe-412b-4b77-a352-307f6dcc9594",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "LvLMQXrAcIeQa1Qm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1424,
        1088
      ],
      "id": "5b135e70-5b29-422d-bb99-d106c8817449",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "rTSt6FnagO3Pruoq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Utiliza esta herramienta para administrar el calendario con los datos brindados por el usuario.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Información y datos relevantes del usuario, útiles para ejecutar las acciones correspondientes.`, 'string') }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# Rol\n\nEres un agente de calendario y tu función principal es ejecutar las herramientas que tienes a disposición en función de la consulta del usuario.\n\n# Herramientas\n\n## \"Disponibilidad\": utiliza esta herramienta antes de crear un evento para comprobar la disponibilidad en la fecha y hora que solicita el usuario.\n\n## \"Crear_Evento\": utiliza esta herramienta para agendar una reunión en la fecha y hora que solicita el usuario, si es que está disponible.\n\n# Paso a paso a seguir\n1- Utiliza la herramienta \"Disponibilidad\" para comprobar si no hay reuniones agendadas en ese horario de esa fecha solicitada por el usuario.\n2- Si está ocupada, solicitá otra fecha u horario. Si no está ocupada, agenda la reunión para la fecha y hora solicitada por el usuario, utilizando la herramienta \"Crear_Evento\".\n3- Notificarle al agente principal que ejecutaste todo correctamente, y que la reunión está agendada, además, envia la url de la reunión para que pueda enviar el correo con el enlace a la misma.\n\n# Recordatorios:\n* La fecha y hora actual es: {{ $now }}. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1424,
        848
      ],
      "id": "a7992082-fc1b-4fe1-9464-5b9e226ab683",
      "name": "Agente_Calendario"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "America/Argentina/Buenos_Aires",
            "mode": "list",
            "cachedResultName": "America/Argentina/Buenos_Aires"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1616,
        1072
      ],
      "id": "efd63d80-c1d7-4fc6-942e-b8dbd7fdf197",
      "name": "Disponibilidad",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "iabyia.business@gmail.com",
          "mode": "list",
          "cachedResultName": "iabyia.business@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Fecha y hora de inicio de la reunión.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fecha y hora de fin de la reunión.`, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', `Participante de la reunión. Si viene vacío, no lo añadas.`, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Descripción de la reunión.`, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Título de la reunión`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1744,
        1056
      ],
      "id": "c28e4e9f-25a6-45a7-87a8-ea5adb44ab8e",
      "name": "Crear_Evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2pzvsxvg1RVYUmMH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.servidorn8n.space/mcp/dde3c86b-fc11-4a83-88d3-95be7124ae23/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        752,
        1056
      ],
      "id": "7f432dda-6107-4b0b-883e-9e04ca9b5aa0",
      "name": "MCP Calendario"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Gmail": {
      "ai_tool": [
        [
          {
            "node": "AGENTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Base de Datos": {
      "ai_tool": [
        [
          {
            "node": "AGENTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AGENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AGENTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "transcripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcripcion": {
      "main": [
        [
          {
            "node": "Sentimiento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentimiento": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salida": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intención": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Intención",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Sentimiento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AGENTE": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_Calendario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_Calendario",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Agente_Calendario": {
      "ai_tool": [
        []
      ]
    },
    "Disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "Agente_Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear_Evento": {
      "ai_tool": [
        [
          {
            "node": "Agente_Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Calendario": {
      "ai_tool": [
        [
          {
            "node": "AGENTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9fa998a1-a365-4476-be34-52084009080d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c51ad1839a2b94fe998720cbb12ec31aeaf911935a64ba3a674a34c8e1fe57cb"
  },
  "id": "bkDxBowXKt7flC3E",
  "tags": []
}